# IDE
.idea/

# Build files
embedded/*.hex
embedded/*.bin
embedded/build/

# OS files
.DS_Store
Thumbs.db

# Credentials (if you create a secrets file)
**/secrets.h
**/credentials.h
config.bat
node_modules
